server.name: kibana-01
server.host: 'elk-kibana-01-pod.elknet'
server.publicBaseUrl: 'https://SERVER_IP:5601'
server.ssl.enabled: true
server.ssl.keystore.path: "/usr/share/kibana/config/kibana-01.p12"
elasticsearch.hosts:
  - https://elk-es-coord-01-pod.elknet:9200
elasticsearch.username: kibana_system
elasticsearch.password: abcde12345
elasticsearch.ssl.verificationMode: full
elasticsearch.ssl.certificateAuthorities:
  - config/elastic-ca.pem
monitoring.ui.container.elasticsearch.enabled: false
monitoring.cluster_alerts.email_notifications.email_address: myname@example.com
xpack.reporting.roles.enabled: false
xpack.security.session.idleTimeout: 1h
xpack.security.session.lifespan: 30d
