apiVersion: v1
kind: Pod
metadata:
  labels:
    app: kibana-pod
  name: kibana-pod
  annotations:
    seccomp.security.alpha.kubernetes.io/pod: localhost/default.json
spec:
  restartPolicy: OnFailure
  hostNetwork: true
  containers:
  - name: srv01
    image: localhost/extra2000/elastic/kibana
    securityContext:
      #runAsGroup: 1000
      #runAsUser: 1000
      allowPrivilegeEscalation: false
      privileged: false
      capabilities:
        add: []
        drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE
      seLinuxOptions:
        type: kibana_podman.process
    resources:
      requests:
        memory: 1000Mi
        cpu: 1000m
      limits:
        memory: 1000Mi
        cpu: 1000m
    env:
    - name: NODE_OPTIONS
      valueFrom:
        configMapKeyRef:
          name: kibana-configmap
          key: node_options
    volumeMounts:
    - mountPath: /usr/share/kibana/config
      name: kibana-config
    - mountPath: /usr/share/kibana/config/kibana.yml
      name: kibana-yml
      readOnly: true
    - mountPath: /usr/share/kibana/config/elastic-ca.crt
      name: kibana-ssl-ca-crt
      readOnly: true
    - mountPath: /usr/share/kibana/config/kibana.crt
      name: kibana-ssl-http-crt
      readOnly: true
    - mountPath: /usr/share/kibana/config/kibana.key
      name: kibana-ssl-http-key
      readOnly: true
  volumes:
  - name: kibana-yml
    hostPath:
      path: ./configs/kibana.yml
  - name: kibana-ssl-ca-crt
    hostPath:
      path: ./secrets/elastic-ca.crt
  - name: kibana-ssl-http-crt
    hostPath:
      path: ./secrets/kibana.crt
  - name: kibana-ssl-http-key
    hostPath:
      path: ./secrets/kibana.key
  - name: kibana-config
    persistentVolumeClaim:
      claimName: kibana-config
